html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1100px;
  padding: 0px 15px;
  margin: 0px auto;
}

*::selection {
  background-color: #6b0ba7;
  color: rgb(0, 132, 255);
}

a::selection {
  color: black;
}

header {
  background-color: #012D63;
}

.header-content {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 29px;
}

.navbar__item {
  color: #C7C7C7;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  transition: color 0.3s ease;
}

.navbar__item:hover {
  color: white;
}

.translate {
  display: flex;
  gap: 10px;
}

.translate__item {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #C7C7C7;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s ease;
}

.translate__item:hover {
  color: white;
}

#first-back {
  background: url(./Images/first-back.png) no-repeat center / cover;
}

.first-sect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 94px;
  padding-bottom: 183px;
}

.info-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-logo__title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 48px;
  color: white;
  margin: 0px;
}

.first-sect__title {
  font-family: "Playfair Display", serif;
  font-size: 144px;
  font-weight: 900;
  color: white;
  margin: 0px;
}

.first-sect__podtitle {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  font-weight: 900;
  color: white;
  margin: 0px;
}

.first-sect__item {
  width: 507px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
}

.first-sect__btn {
  background-color: #8E32C6;
  border-radius: 10px;
  border: none;
  padding: 20px 60px 20px 60px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  transition: all 0.3s ease;
}

.first-sect__btn:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0px 8px 5px 2px #4e385c;
}

.first-sect__btn:active {
  cursor: default;
}

#two-back {
  background: url(./Images/back-two.png) no-repeat center / cover;
}

.two-sect {
  padding-top: 105px;
  padding-bottom: 105px;
}

.info-buy {
  display: flex;
  border: 5px solid #8E32C6;
  justify-content: center;
  gap: 50.5px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.buyer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyer-info__title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 500;
  color: white;
  margin: 0px;
  text-align: center;
}

.buyer-info:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-left: 94.5px;
  padding-right: 95.5px;
}

#reviews {
  background-image: url(./Images/flowers-left.png), url(./Images/back-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center;
  background-size: 340px, cover;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 114px;
}

.review__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  color: white;
  font-weight: 300;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 93px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 29px 15px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

.card:nth-child(1) {
  box-shadow: 0px 14px 0px -5px rgb(123, 84, 179), 0px 30px 0px -13px rgb(83, 57, 120);
  background: linear-gradient(135.00deg, rgb(0, 229, 230) 7.292%, rgb(0, 168, 247) 26.042%, rgb(154, 118, 249) 62.5%, rgb(204, 94, 194) 100%);
}

.card:nth-child(2) {
  box-shadow: 0px 14px 0px -5px rgb(145, 89, 177), 0px 30px 0px -13px rgb(97, 51, 124);
  background: linear-gradient(135.00deg, rgb(255, 104, 180) 0%, rgb(255, 69, 225) 26.042%, rgb(206, 58, 255) 62.841%, rgb(137, 97, 255) 100%);
  ;
}

.card:nth-child(3) {
  box-shadow: 0px 14px 0px -5px rgb(185, 90, 76), 0px 30px 0px -13px rgb(115, 47, 38);
  background: linear-gradient(135.00deg, rgb(255, 225, 40) 0%, rgb(255, 155, 92) 30.208%, rgb(255, 131, 129) 63.286%, rgb(255, 84, 137) 100%);
}

.card__title {
  width: 228px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}

.card__number {
  color: rgb(216, 216, 216);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.autor {
  display: flex;
  align-items: center;
  padding-top: 47px;
  gap: 10px;
}

.autor__img {
  height: 30px;
  width: 30px;
}

.autor-content__title {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.autor-content__item {
  margin: 0px;
  color: rgb(216, 216, 216);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

#order-back {
  background: url(./Images/footer-back.png) no-repeat center / cover;
}

.order-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.order-content__title {
  color: rgb(255, 255, 255);
  font-family: 'Playfair Display';
  font-size: 48px;
  font-weight: 400;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: none;
}

.form-content__item {
  width: 580px;
  padding-left: 15px;
  padding-right: 72px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  color: rgb(149, 149, 149);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 400;
  border: none;
  outline: none;
  transition: all 0.5s ease;
}

.form-content__item:focus {
  width: 690px;
}

.form-content__btn {
  padding: 20px 50px 20px 50px;
  border-radius: 16px;
  background-color: rgb(142, 50, 198);
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  transition: box-shadow 0.5s ease;
}

.form-content__btn:hover {
  cursor: pointer;
  box-shadow: 0px 8px 5px 2px black;
}

.form-content__btn:active {
  cursor: default;
}

.footer {
  background-color: black;
}

.footer-content {
  padding-bottom: 50px;
  padding-top: 45px;
}

.questions {
  padding-bottom: 20.5px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.question__title {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.question__title--link {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.question__title--link:hover {
  color: #8E32C6;
}

.end-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(155, 155, 155);
  padding-top: 23.5px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.footer-info__title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.footer-info__item {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer__title {
  color: rgb(255, 255, 255);
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}